.header {
  margin-top: 20px;

}

.navbar-brand {
  color: #0b1641;
  font-weight: bold;

}

.navbar {
  background: white;
  border: 1px solid gray;
}

.nav-link {
  color: black;
  font-style: normal;
}

