<h1>DNA de Inovação e Transformação Digital</h1>

<p>
    O Grupo Stefanini traz em seu DNA uma atuação de 33 anos em diversas frentes que contemplam um amplo ecossistema de
    ofertas tecnológicas, complementares e flexíveis. E para manter-se constantemente em uma rota de crescimento,
    fatores como Inovação e Transformação Digital são de extrema relevância para todas as empresas que compõem o Grupo.

    A companhia conta com ofertas robustas e alinhadas às tendências de mercado como automação, cloud, Internet das
    Coisas (IoT) e User Experience (UX), oferecendo um diversificado portfólio, que mescla soluções inovadoras de
    consultoria e marketing, mobilidade, campanhas personalizadas e inteligência artificial a soluções tradicionais como
    Service Desk, Field Service e outsourcing (BPO).

    Entre os serviços ofertados, o cliente Stefanini pode contar com a expertise de soluções avançadas de sua rede de
    empresas como Stefanini Rafael, Orbitall, Topaz, Stefanini Scala, IHM Stefanini, Saque e Pague, Stefanini Inspiring,
    Document Solutions, TecCloud, Woopi, Ponto Certificado, Gauge, Capital Market, a startup Intelligenti, a Mozaiko, a
    Haus e mais recentemente a Logbank.
    
</p>